body{
   /* background-image: url(images/lake.jfif);*/
    background-repeat: no-repeat;
    background-size:cover;
    
}
h1 { 
    color: rgb(255, 0, 64);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: tomato;
    background-color: blue;

}
p{
    background-color: rgba(0, 0, 255,0.4);
    border: 1px;
    border-style: dotted;
    padding: 20px;
    margin: 50px;
}